/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600i,800');

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     border-left-style: solid;
     border-right-style: solid;
     font-size: 12px;
     line-height: 1.4;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 24px;
}

header{
    color: white;
}

footer {
   background: #121212;
   height: 200px;
   color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*benefits of Relaxr section*/
.bene {
    font-size: 20px;
    font-weight: Semibold;
    background: #f0efef;
    height: 300px;
    padding: 50px 0px 0px 300px;
    color: #606161;
}

a {
    background: #f9e42e;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #033048;
    text-size: 14px;
    font-weight: Extrabold;
}

.testimonial {
    height: 200px;
    font-size: 36px;
    text-align: center;
    color: white;
    font-size: 18px;
    }

.cta {
    background: #f9e42e;
    height: 100px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    }
blockquote {
    margin: 0 auto;
    width: 50%;
    padding: 50px 0px 0px 0px;
    font-style: italic;
    font-weight: Semibold;
    font-size: 18px;
}
.sun {
    background: #033048;
    color: white;
    font-weight: Extrabold;
    font-size: 12px;
    border-radius: 5px;
    }
h1 {
    text-align: center;
    }
.ft {
    text-align: center;
    padding: 50px 0px 0px 0px;
    text-weight: Extrabold;
    font-size: 24px;
    }
.ftl{
    color: #f9e42e;
    padding: 0px 0px 0px 0px;
    font-size: 9px;
    font-weight: Semibold;
    }
img {
    padding: 20px;
    }
.top {
    padding: 0px 1000px 100px 100px;
    font-size: 24px;
    font-weight: Extrabold;
    margin: 0 auto;
    }
h3 {
    font-size: 24px;
    font-weight: Semibold;
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
}
.light{
    font-weight: Light;
    font-size: 13px;
    }